@*
@model CRUDAspNetCoreMVCWebAppComEFCore.Models.Empregados

@{
    ViewData["Title"] = "Details";
}


<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        <h3>Detalhes do Cadastro do Empregado</h3>
    </div>


    <div>
        <h4>Empregados</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Codigo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Funcao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Funcao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LocalizacaoEscritorio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LocalizacaoEscritorio)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a class="btn btn-info pull-right fa fa-plus" asp-action="Edit" asp-route-id="@Model.EmpregadosId">Editar</a> |



    <a class="btn btn-info pull-right fa fa-plus" asp-action="Index">Voltar</a>

</div>

*@
